.profile-container {
    border: 1px solid black;
    border-radius: 100px;
    padding: 25px;
    font-size: 40px;
    margin-top: 200px;
}

.edit-btn {
    margin-top: 15px;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}