.profile-container, .profile-edit-container {
    border: 1px solid #84A59D;
    border-radius: 100px;
    padding: 30px;
    font-size: 40px;
    margin-top: 200px;
    background-color: rgba(247, 237, 226, 0.5);
    outline: 3px dashed #f6bd60;
    outline-offset: -10px;
}

.edit-btn, .save-btn {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #84A59D;
    border-radius: 100px;
    background-color: #f5cac3;
    color: #84A59D;
}

.edit-btn:hover, .save-btn:hover {
    border: 2px solid #f5cac3;
    color: #f5cac3;
    background-color: #84A59D;
}


.btn-container {
    display: flex;
    justify-content: center;
}

input {
    margin-left: 15px;
}

.profile-name {
    color: #f6bd60
}

.profile-projects {
    color: #f28482
}