@font-face {
  font-family: rainy_stars;
  src: url(../assets/rainy_stars/RainyStars.otf)
}

body, html {
  background-image: url("../assets/knitting.png");
  background-color: rgba(247, 237, 226,.5); 
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  
  padding: 20px;
  height: 100%;
}




