

body {
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #84A59D;
    font-size: 2rem;
}

h1, h3, .project-name {
    font-family: rainy_stars;
}

.project-link {
    text-decoration: none;
    color: inherit;
    width: 95%;
}

.projects-list, .form-container, .section-form-container, .project-view-container, .section-container , .section-container-complete, .section-list-container{
    border: 1px solid #84A59D;
    border-radius: 100px;
    padding: 50px;
    margin-bottom: 15px;
}

.section-container {
    margin-top: 15px;
    background-color: rgba(247, 237, 226, 0.5);
}

.section-container-complete {
   margin-top: 15px;
   background-color: #f7ede2;
   color: #f28482;
}


.project-container {
    display: flex;
    flex-direction: row;
}

.project {
    border: 1px solid #84A59D;
    border-radius: 100px;
    padding: 35px;
    margin: 10px 0;
    transition: font-size 0.2s ease-in-out;
    background-color: rgba(247, 237, 226, 0.5);
}

.project:hover {
    font-size: 1.5em;
}

.project-name {
    margin-top: 25px;
    font-size: 1.5em;
}

.project-completion {
    text-align: end;
}

.new-project-btn, .edit-btn, .delete-btn, .row-btn, .section-add-btn, .like-btn, .show-all-btn, .add-section-btn {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #84A59D;
    border-radius: 100px;
    background-color: #f5cac3;
    color: #84A59D;
}

.new-project-btn:hover, .edit-btn:hover, .delete-btn:hover, .row-btn:hover, .section-add-btn:hover, .like-btn:hover, .show-all-btn:hover, .add-section-btn:hover{
    border: 2px solid #f5cac3;
    color: #f5cac3;
    background-color: #84A59D;
}

.button-container {
    text-align: center;
}

.selector-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-btns, .like-btn-container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-header, .section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #f28482;
}

.row-btn {
    margin-top: 15px;
}


.image {
    display: flex;
    justify-content: center;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.row-counter {
    font-size: 2rem;
}

.show-all-btn {
    height: 40px
}

p {
    margin-bottom: 0;
}

h2, .project-number {
    color: #f6bd60
}

.project-completion {
    color: #f28482;
}

