body {
    margin-left: 200px;
}

.projects-list {
    border: 1px solid black;
    border-radius: 100px;
    padding: 50px;
}

.project {
    border: 1px solid black;
    border-radius: 100px;
    padding: 25px;
    margin: 10px 0;
    transition: font-size 0.2s ease-in-out;
}

.project:hover {
    font-size: 1.5em;
}

.project-name {
    margin-top: 25px;
    font-size: 1.5em;
}

.project-completion {
    text-align: end;
}

.new-project-btn {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #89CC04;
    border-radius: 100px;
    background-color: black;
    color: #89CC04;
}

.button-container {
    text-align: center;
}